/node_modules
/public/images
/storage/*.key
/vendor
.env
.env.backup
.env.example
.editorconfig
.gitattributes
.styleci.yml
artisan
server.php
phpunit.xml

.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log